<template name="create_patient">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Create New Patient</h2>
            </div>
        </div>
            <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form class="create_patient">
                    <div class="form-group">
                        <label>Patient Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Patient Name">
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input type="text" name="birthday" class="form-control" id="birthday" placeholder="Enter Birthday">
                    </div>
                    <div class="form-group">
                        <label>Unique ID</label>
                        <input type="text" name="uid" class="form-control" id="uid" placeholder="Enter Unique ID">
                    </div>
                    <div class="form-group">
                        <label>Current Status</label>
                        <!--<input type="text" name="status" class="form-control" id="status" placeholder="Enter Status">-->
                        <select class="form-control" name="status" id="status">
                          <option>Registered</option>
                          <option>Pre-Op</option>
                          <option>Pre-Op_Monitored</option>
                          <option>Ready_for_Surgery</option>
                          <option>OR</option>
                          <option>PACU</option>
                          <option>Ready_for_Family</option>
                          <option>PACU2</option>
                          <option>Waiting_for_Bed</option>
                          <option>Discharged</option>
                          <option>Cancelled</option>
                          <option>Patient_on_Hold</option>
                          <option>Patient_Sent_For</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Patient</button>
                </form>
                
            </div>
        </div>
    </div>
</template>