<template name="patient_list">
   <div class="container">
       <div class="row">
           <div class="col-md-8 col-md-offset-2">
               <h2>Current Patients</h2>
               <a href="/admin/create_patient" class="btn btn-success btn-xs">Create New Patient</a>
           </div>
           <br>
       </div>
       <div class="row">
           <div class="col-md-8 col-md-offset-2">
               <table class="table">
                   <tr>
                       <th>Name</th>
                       <th>Birthday</th>
                       <th>Unique ID</th>
                       <!--<th>Created At</th>-->
                       <th>Current Status</th>
                       <th></th>
                   </tr>
                   {{#each patients}}
                       <tr>
                           <td>{{name}}</td>
                           <td>{{birthday}}</td>
                           <td>{{uid}}</td>
                           <!--<td>{{createdAt}}</td>-->
                           <td>{{status}}</td>
                           <td><a href="/admin/{{_id}}/edit" class="btn btn-warning btn-xs">Edit</a><button class="delete_patient btn btn-danger btn-xs">Delete</button></td>
                       </tr>
                   {{/each}}
               </table>
           </div>
       </div>
   </div>
</template>