/*set up font*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*overall styles*/

h1, h2, h3, h4, h5{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

p, li, a{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  min-height: 2000px;
  padding-top: 70px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.well{
  background: transparent;
  border: none;
}
/*color for status*/
.Registered{
  background: #40B1D6;
}
.Registered small{
  color: black;
}

.Pre-Op{
  background: #F0F571;
}

.Pre-Op_Monitored{
  background: #F2AF44;
}
.Pre-Op_Monitored small{
  color: black;
}

.Ready_for_Surgery{
  background: #2DED07;
}

.OR{
  background: #E89B9B;
}
.OR small{
  color: black;
}

.PACU, .PACU small{
  background: #4043ED;
  color: #ccc;
}

.Ready_for_Family{
  background: #B8B9F2;
}
.Ready_for_Family small{
  color: black;
}

.PACU2{
  background: #049125;
}
.PACU2 small{
  color: #ccc;
}

.Waiting_for_Bed{
  background: #B1E3F2;
}

.Discharged,
.Discharged small{
  background: #6A0BDE;
  color: #ccc;
}

.Cancelled{
  background: #A1A1A1;
}
.Cancelled small{
  color: black;
}

.Patient_on_Hold{
  background: #F58B49;
}
.Patient_on_Hold small{
  color: black;
}

.Patient_Sent_For{
  background: #F7D9C6;
}

h5{
  padding: 10px;
}















