<template name="home">
    <!--{{> header}}-->
    <h3 class="text-center">Current Patients</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 well">
                {{#each patients}}
                    <h5 class="{{status}}">{{uid}} <small>{{status}}</small></h5>
                {{else}}
                    <h5 class="text-center">There are no patients currently in the OR.</h5>
                {{/each}}
            </div>
        </div>
    </div>
</template>