<template name="patients">
     <div class="container">
        <div class="row">
            <div class="col-md-5 well">
                {{#each patients}}
                <h4>{{UID}} <small>{{status}}</small></h4>
                {{/each}}
            </div>
            <div class="col-md-5 col-md-offset-2 well">
                <h4>Patient Name <small>Status, just to make it longer</small></h4>
                <h4>Patient Name <small>Status, just to make it longer</small></h4>
                <h4>Patient Name <small>Status, just to make it longer</small></h4>
            </div>
        </div>
    </div><!-- /container -->
</template>