<template name="footer">
    <footer class="footer">
        <div class="container">
            <p class="text-center">Copyright &copy; 2016 julianrudolph.com, All Rights Reserved</p>
        </div>
    </footer>
</template>